<div class="photoRegion">
	<img class="profileImage" src="http://placehold.it/300x350" alt=""/>
</div>
<div class="infoRegion">
    <ul>
        <li>Name: {{firstname}} {{lastname}}</li>
        <li>Age: {{age}}</li>
        <li>Gender: {{gender}}</li>
        <li>Email: {{email}}</li>
        <li>Description: {{description}}</li>
    </ul>
</div>
